IF THEN ELSE AND ELIF CONDITIONS

In [1]:
a = 200
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")
else:
  print("a is greater than b")

a is greater than b

In [3]:
a=34
b=67
if b>a:
  print("b is greater then a")
else:
  print("b is  not greater than a")

b is greater then a

Some loop mini projects:

Pattern 04

In [5]:
def right_angled_triangle(n):
    for i in range(0, n + 1):
        print('*' * i)


right_angled_triangle(5)

*
**
***
****
*****

Pattern 01

In [7]:
def pyramid_pattern(n):
    for i in range(n):
        print(' ' * (n - i - 1) + '*' * (2 * i + 1))


pyramid_pattern(5)

    *
   ***
  *****
 *******
*********

Pattern 02

In [8]:
def alphabet_pyramid(n):
    for i in range(n):
        print(' ' * (n - i - 1), end='')
        for j in range(i + 1):
            print(chr(65 + j), end=' ')
        print()


alphabet_pyramid(5)

    A
   A B
  A B C
 A B C D
A B C D E

Pattern 03

In [1]:
def inverted_pyramid_pattern(n):
    for i in range(n, 0, -1):
        print(' ' * (n - i) + '*' * (2 * i - 1))

# Example usage:
inverted_pyramid_pattern(5)

*********
 *******
  *****
   ***
    *

Pattern 05

In [2]:
def increasing_number_pyramid(n):
    num = 1
    for i in range(1, n + 1):

        print(' ' * (n - i), end='')

        for j in range(1, i + 1):
            print(num, end=' ')
            num += 1
        print()


increasing_number_pyramid(5)

    1
   2 3
  4 5 6
 7 8 9 10
11 12 13 14 15