List Practice

In [1]:
my_list = [1, 2, 3, 4]
print(my_list)

[1, 2, 3, 4]

In [2]:
first_element = my_list[0]
print(first_element)

1

In [3]:
my_list[1] = 5
print(my_list)

[1, 5, 3, 4]

In [4]:
my_list.append(6)
print(my_list)

[1, 5, 3, 4, 6]

In [5]:
my_list.remove(3)
print(my_list)

[1, 5, 4, 6]

Tuples

In [6]:
my_tuple = (1, 2, 3, 4)
print(my_tuple)

(1, 2, 3, 4)

In [7]:
first_element = my_tuple[0]
print(first_element)

1

Sets

In [8]:
my_set = {1, 2, 3, 4}
print(my_set)

{1, 2, 3, 4}

In [9]:
my_set.add(5)
print(my_set)

{1, 2, 3, 4, 5}

In [10]:
my_set.remove(2)
print(my_set)

{1, 3, 4, 5}

In [11]:
my_set.add(3)  # Adding a duplicate element
print(my_set)

{1, 3, 4, 5}

Dictionaries

In [12]:
my_dict = {'a': 1, 'b': 2, 'c': 3}
print(my_dict)

{'a': 1, 'b': 2, 'c': 3}

In [13]:
value_a = my_dict['a']
print(value_a)

1

In [14]:
my_dict['b'] = 4
print(my_dict)

{'a': 1, 'b': 4, 'c': 3}

In [15]:
my_dict['d'] = 5
print(my_dict)

{'a': 1, 'b': 4, 'c': 3, 'd': 5}

In [16]:
del my_dict['c']
print(my_dict)

{'a': 1, 'b': 4, 'd': 5}

Practical Mini Project: Inventory Management System

In [18]:

inventory = {}
categories = set()

def add_product(name, category, stock):
    if name in inventory:
        print(f"Product '{name}' already exists.")
        return
    inventory[name] = {'category': category, 'stock': stock}
    categories.add(category)
    print(f"Product '{name}' added successfully.")


def update_stock(name, stock):
    if name not in inventory:
        print(f"Product '{name}' does not exist.")
        return
    inventory[name]['stock'] = stock
    print(f"Stock for '{name}' updated to {stock}.")


def remove_product(name):
    if name not in inventory:
        print(f"Product '{name}' does not exist.")
        return
    category = inventory[name]['category']
    del inventory[name]

    if not any(prod['category'] == category for prod in inventory.values()):
        categories.remove(category)
    print(f"Product '{name}' removed successfully.")


def view_products_in_category(category):
    products = [name for name, details in inventory.items() if details['category'] == category]
    if not products:
        print(f"No products found in category '{category}'.")
        return
    print(f"Products in category '{category}': {products}")


def view_total_stock_in_category(category):
    total_stock = sum(details['stock'] for details in inventory.values() if details['category'] == category)
    print(f"Total stock in category '{category}': {total_stock}")


add_product("Laptop", "Electronics", 10)
add_product("Phone", "Electronics", 20)
add_product("Shirt", "Clothing", 50)

update_stock("Laptop", 15)

view_products_in_category("Electronics")
view_total_stock_in_category("Electronics")

remove_product("Shirt")
view_products_in_category("Clothing")

Product 'Laptop' added successfully.
Product 'Phone' added successfully.
Product 'Shirt' added successfully.
Stock for 'Laptop' updated to 15.
Products in category 'Electronics': ['Laptop', 'Phone']
Total stock in category 'Electronics': 35
Product 'Shirt' removed successfully.
No products found in category 'Clothing'.