In [1]:
import pandas as pd

In [2]:
df= pd.read_csv('/content/Weather.csv')

In [3]:
df.head()

          Day  Temperature  WindSpeed Events
0  01/01/2017         32.0        6.0   Rain
1  01/02/2017          NaN        9.0    NaN
2  01/03/2017         28.0        2.0   Snow
3  01/04/2017          NaN        NaN    NaN
4  01/05/2017          NaN        NaN   Rain

Identify missing values in the DataFrame.

In [4]:

missing_values = df.isnull()

print("DataFrame with missing value indicators (True indicates missing value):")
print(missing_values)


missing_count = df.isnull().sum()


print("\nCount of missing values in each column:")
print(missing_count)

DataFrame with missing value indicators (True indicates missing value):
     Day  Temperature  WindSpeed  Events
0  False        False      False   False
1  False         True      False    True
2  False        False      False   False
3  False         True       True    True
4  False         True       True   False
5  False        False      False    True
6  False        False      False   False

Count of missing values in each column:
Day            0
Temperature    3
WindSpeed      2
Events         3
dtype: int64

Drop rows with any missing values.

In [5]:
# Drop rows with any missing values
df_dropna = df.dropna()
# Display the original DataFrame
print("Drop DataFrame:")
print(df_dropna)

Drop DataFrame:
          Day  Temperature  WindSpeed Events
0  01/01/2017         32.0        6.0   Rain
2  01/03/2017         28.0        2.0   Snow
6  01/07/2017         33.0        7.0  Sunny

Drop columns with any missing values.

In [6]:
# Drop columns with any missing values
df_dropna_columns = df.dropna(axis=1)

# Display the original DataFrame
print("Drop DataFrame:")
print(df_dropna_columns)

Drop DataFrame:
          Day
0  01/01/2017
1  01/02/2017
2  01/03/2017
3  01/04/2017
4  01/05/2017
5  01/06/2017
6  01/07/2017

Fill missing values with a specific value.

In [7]:
df_filled = df.fillna(0)

# Display the filled DataFrame
print("Filled DataFrame:")
print(df_filled)

Filled DataFrame:
          Day  Temperature  WindSpeed Events
0  01/01/2017         32.0        6.0   Rain
1  01/02/2017          0.0        9.0      0
2  01/03/2017         28.0        2.0   Snow
3  01/04/2017          0.0        0.0      0
4  01/05/2017          0.0        0.0   Rain
5  01/06/2017         32.0        5.0      0
6  01/07/2017         33.0        7.0  Sunny

Fill missing values using forward fill and backward fill methods.

In [8]:
# Fill missing values with forward fill (ffill)
df_ffill = df.fillna(method='ffill')

# Fill missing with backward fill (bfill)
df_bfill = df.fillna(method='bfill')

print("backward fill")
print(df_bfill)
print("forward fill")
print(df_ffill)

backward fill
          Day  Temperature  WindSpeed Events
0  01/01/2017         32.0        6.0   Rain
1  01/02/2017         28.0        9.0   Snow
2  01/03/2017         28.0        2.0   Snow
3  01/04/2017         32.0        5.0   Rain
4  01/05/2017         32.0        5.0   Rain
5  01/06/2017         32.0        5.0  Sunny
6  01/07/2017         33.0        7.0  Sunny
forward fill
          Day  Temperature  WindSpeed Events
0  01/01/2017         32.0        6.0   Rain
1  01/02/2017         32.0        9.0   Rain
2  01/03/2017         28.0        2.0   Snow
3  01/04/2017         28.0        2.0   Snow
4  01/05/2017         28.0        2.0   Rain
5  01/06/2017         32.0        5.0   Rain
6  01/07/2017         33.0        7.0  Sunny

In [9]:
# Interpolate missing values
df_interpolated = df.interpolate()

# Display the DataFrame after interpolating missing values
print("\nDataFrame after interpolating missing values:")
print(df_interpolated)

DataFrame after interpolating missing values:
          Day  Temperature  WindSpeed Events
0  01/01/2017    32.000000        6.0   Rain
1  01/02/2017    30.000000        9.0    NaN
2  01/03/2017    28.000000        2.0   Snow
3  01/04/2017    29.333333        3.0    NaN
4  01/05/2017    30.666667        4.0   Rain
5  01/06/2017    32.000000        5.0    NaN
6  01/07/2017    33.000000        7.0  Sunny

Convert a column to a different data type.

In [10]:
df.info()
# Convert column 'Temperature' from string to integer
df_filled['Temperature'] = df_filled['Temperature'].astype(int)
df_filled.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Day          7 non-null      object
 1   Temperature  4 non-null      float64
 2   WindSpeed    5 non-null      float64
 3   Events       4 non-null      object
dtypes: float64(2), object(2)
memory usage: 352.0+ bytes
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Day          7 non-null      object
 1   Temperature  7 non-null      int64
 2   WindSpeed    7 non-null      float64
 3   Events       7 non-null      object
dtypes: float64(1), int64(1), object(2)
memory usage: 352.0+ bytes

Apply a function to transform the values of a column.

In [11]:
# Define a custom function to transform values
def square(x):
    return x * x

# Apply the function to column 'WindSpeed'
df['WindSpeed'] = df['WindSpeed'].apply(square)

# Display the DataFrame after transformation
print("DataFrame after applying the function to column 'WindSpeed':")
print(df)

DataFrame after applying the function to column 'WindSpeed':
          Day  Temperature  WindSpeed Events
0  01/01/2017         32.0       36.0   Rain
1  01/02/2017          NaN       81.0    NaN
2  01/03/2017         28.0        4.0   Snow
3  01/04/2017          NaN        NaN    NaN
4  01/05/2017          NaN        NaN   Rain
5  01/06/2017         32.0       25.0    NaN
6  01/07/2017         33.0       49.0  Sunny

Normalize a column using Min-Max scaling.

In [12]:
def min_max_scaling(column):
    return (column - column.min()) / (column.max() - column.min())

# Apply Min-Max scaling to column 'WindSpeed'
df['WindSpeed_normalize'] = min_max_scaling(df_filled['WindSpeed'])
# Display the DataFrame after normalization
print("DataFrame after Min-Max scaling:")
print(df)

DataFrame after Min-Max scaling:
          Day  Temperature  WindSpeed Events  WindSpeed_normalize
0  01/01/2017         32.0       36.0   Rain             0.666667
1  01/02/2017          NaN       81.0    NaN             1.000000
2  01/03/2017         28.0        4.0   Snow             0.222222
3  01/04/2017          NaN        NaN    NaN             0.000000
4  01/05/2017          NaN        NaN   Rain             0.000000
5  01/06/2017         32.0       25.0    NaN             0.555556
6  01/07/2017         33.0       49.0  Sunny             0.777778

Standardize a column (z-score normalization).

In [13]:
def z_score_normalization(column):
    return (column - column.mean()) / column.std()
df['WindSpeed-zscore_standardized'] = z_score_normalization(df['WindSpeed'])
print("DataFrame after z-score normalization:")
print(df)

DataFrame after z-score normalization:
          Day  Temperature  WindSpeed Events  WindSpeed_normalize  \
0  01/01/2017         32.0       36.0   Rain             0.666667
1  01/02/2017          NaN       81.0    NaN             1.000000
2  01/03/2017         28.0        4.0   Snow             0.222222
3  01/04/2017          NaN        NaN    NaN             0.000000
4  01/05/2017          NaN        NaN   Rain             0.000000
5  01/06/2017         32.0       25.0    NaN             0.555556
6  01/07/2017         33.0       49.0  Sunny             0.777778

   WindSpeed-zscore_standardized
0                      -0.104542
1                       1.463583
2                      -1.219653
3                            NaN
4                            NaN
5                      -0.487861
6                       0.348472

Identify duplicate rows in the DataFrame.

In [26]:
# Identify duplicate rows
duplicates = df_ffill.duplicated()
print(duplicates)

0    False
1    False
2    False
3    False
4    False
5    False
6    False
dtype: bool

Drop duplicate rows.

In [27]:
df_deduplicated = df_ffill.drop_duplicates()
print("\nDataFrame after dropping duplicate rows:")
print(df_deduplicated)

DataFrame after dropping duplicate rows:
          Day  Temperature  WindSpeed Events
0  01/01/2017         32.0        6.0   Rain
1  01/02/2017         32.0        9.0   Rain
2  01/03/2017         28.0        2.0   Snow
3  01/04/2017         28.0        2.0   Snow
4  01/05/2017         28.0        2.0   Rain
5  01/06/2017         32.0        5.0   Rain
6  01/07/2017         33.0        7.0  Sunny

Drop duplicate rows based on specific columns.

*   List item
*   List item

In [29]:
df_deduplicated_subset = df_ffill.drop_duplicates(subset=['Temperature', 'Events'])
print("\nDataFrame after dropping duplicate rows based on columns 'Temperature' and 'Events':")
print(df_deduplicated_subset)

DataFrame after dropping duplicate rows based on columns 'Temperature' and 'Events':
          Day  Temperature  WindSpeed Events
0  01/01/2017         32.0        6.0   Rain
2  01/03/2017         28.0        2.0   Snow
4  01/05/2017         28.0        2.0   Rain
6  01/07/2017         33.0        7.0  Sunny

In [32]:
df_ffill['Events'] = df_ffill['Events'].str.lower()
print("DataFrame after converting string values to lowercase:")
print(df_ffill)

DataFrame after converting string values to lowercase:
          Day  Temperature  WindSpeed Events
0  01/01/2017         32.0        6.0   rain
1  01/02/2017         32.0        9.0   rain
2  01/03/2017         28.0        2.0   snow
3  01/04/2017         28.0        2.0   snow
4  01/05/2017         28.0        2.0   rain
5  01/06/2017         32.0        5.0   rain
6  01/07/2017         33.0        7.0  sunny

Remove leading and trailing spaces from string values in a column.

In [35]:
df['Events'] = df['Events'].str.strip()
print("DataFrame after removing leading and trailing spaces:")
print(df)

DataFrame after removing leading and trailing spaces:
          Day  Temperature  WindSpeed Events  WindSpeed_normalize  \
0  01/01/2017         32.0       36.0   rain             0.666667
1  01/02/2017          NaN       81.0   rain             1.000000
2  01/03/2017         28.0        4.0   snow             0.222222
3  01/04/2017          NaN        NaN   snow             0.000000
4  01/05/2017          NaN        NaN   rain             0.000000
5  01/06/2017         32.0       25.0   rain             0.555556
6  01/07/2017         33.0       49.0  sunny             0.777778

   WindSpeed-zscore_standardized
0                      -0.104542
1                       1.463583
2                      -1.219653
3                            NaN
4                            NaN
5                      -0.487861
6                       0.348472

Replace a specific substring in a column with another substring.

In [36]:
# Sample DataFrame
data = {
    'A': [2,4,6,8,10],
    'B': ['Hello World', 'World of Pandas', 'Hello Pandas', 'Python World', 'Data World']
}

df2 = pd.DataFrame(data)
df2['B'] = df2['B'].str.replace('World', 'Universe')
print("DataFrame after replacing 'World' with 'Universe':")
print(df2)

DataFrame after replacing 'World' with 'Universe':
    A                   B
0   2      Hello Universe
1   4  Universe of Pandas
2   6        Hello Pandas
3   8     Python Universe
4  10       Data Universe

Extract a substring from each value in a column.

In [38]:
data = {
    'A': [1, 2, 3, 4, 5],
    'B': ['John Doe', 'lucas Smith', 'Rose Johnson', 'Chris Brown', 'Emma Davis']
}

df3 = pd.DataFrame(data)
df3['First_Name'] = df3['B'].str.extract(r'(\w+)', expand=False)

print("DataFrame after extracting the first name:")
print(df3)

DataFrame after extracting the first name:
   A             B First_Name
0  1      John Doe       John
1  2   lucas Smith      lucas
2  3  Rose Johnson       Rose
3  4   Chris Brown      Chris
4  5    Emma Davis       Emma

Extract a substring from each value in a column.

In [45]:
# Extract the year using str.slice()
df['Year'] = df['Day'].str.slice(0,2)

# Display the DataFrame after extraction
print("DataFrame after extracting the year:")
print(df)

DataFrame after extracting the year:
          Day  Temperature  WindSpeed Events  WindSpeed_normalize  \
0  01/01/2017         32.0       36.0   rain             0.666667
1  01/02/2017          NaN       81.0   rain             1.000000
2  01/03/2017         28.0        4.0   snow             0.222222
3  01/04/2017          NaN        NaN   snow             0.000000
4  01/05/2017          NaN        NaN   rain             0.000000
5  01/06/2017         32.0       25.0   rain             0.555556
6  01/07/2017         33.0       49.0  sunny             0.777778

   WindSpeed-zscore_standardized Year
0                      -0.104542   01
1                       1.463583   01
2                      -1.219653   01
3                            NaN   01
4                            NaN   01
5                      -0.487861   01
6                       0.348472   01

Convert a column to datetime format.

In [46]:
df['Day'] = pd.to_datetime(df['Day'])
print("DataFrame after converting 'Date' column to datetime format:")
print(df)
print("\nData types of each column:")
print(df.dtypes)

DataFrame after converting 'Date' column to datetime format:
         Day  Temperature  WindSpeed Events  WindSpeed_normalize  \
0 2017-01-01         32.0       36.0   rain             0.666667
1 2017-01-02          NaN       81.0   rain             1.000000
2 2017-01-03         28.0        4.0   snow             0.222222
3 2017-01-04          NaN        NaN   snow             0.000000
4 2017-01-05          NaN        NaN   rain             0.000000
5 2017-01-06         32.0       25.0   rain             0.555556
6 2017-01-07         33.0       49.0  sunny             0.777778

   WindSpeed-zscore_standardized Year
0                      -0.104542   01
1                       1.463583   01
2                      -1.219653   01
3                            NaN   01
4                            NaN   01
5                      -0.487861   01
6                       0.348472   01

Data types of each column:
Day                              datetime64[ns]
Temperature                             float64
WindSpeed                               float64
Events                                   object
WindSpeed_normalize                     float64
WindSpeed-zscore_standardized           float64
Year                                     object
dtype: object

Extract year, month, and day from a datetime column.

In [47]:

df['Day'] = pd.to_datetime(df['Day'])
df['Year'] = df['Day'].dt.year
df['Month'] = df['Day'].dt.month
df['Day'] = df['Day'].dt.day

# Display the DataFrame after extraction
print("DataFrame after extracting year, month, and day from 'Date' column:")
print(df)

DataFrame after extracting year, month, and day from 'Date' column:
   Day  Temperature  WindSpeed Events  WindSpeed_normalize  \
0    1         32.0       36.0   rain             0.666667
1    2          NaN       81.0   rain             1.000000
2    3         28.0        4.0   snow             0.222222
3    4          NaN        NaN   snow             0.000000
4    5          NaN        NaN   rain             0.000000
5    6         32.0       25.0   rain             0.555556
6    7         33.0       49.0  sunny             0.777778

   WindSpeed-zscore_standardized  Year  Month
0                      -0.104542  2017      1
1                       1.463583  2017      1
2                      -1.219653  2017      1
3                            NaN  2017      1
4                            NaN  2017      1
5                      -0.487861  2017      1
6                       0.348472  2017      1

Filter rows based on a date range.

In [82]:
import numpy as np

start_date = '2017-01-01'
end_date = '2017-01-12'

start_date = pd.to_TimeStamp(start_date)
end_date = pd.to_TimeStamp(end_date)

filtered_df = df[(df['Day'] >= start_date) & (df['Day'] <= end_date)]

print("DataFrame filtered based on date range:")
print(filtered_df)

AttributeError: module 'pandas' has no attribute 'to_TimeStamp'

Convert a categorical column to numerical using one-hot encoding.

In [56]:
# Perform one-hot encoding on the 'Events' column
df_encoded = pd.get_dummies(df, columns=['Events'], prefix='', prefix_sep='')

# Display the DataFrame after one-hot encoding
print("DataFrame after one-hot encoding:")
print(df_encoded)

DataFrame after one-hot encoding:
   Day  Temperature  WindSpeed  WindSpeed_normalize  \
0    1         32.0       36.0             0.666667
1    2          NaN       81.0             1.000000
2    3         28.0        4.0             0.222222
3    4          NaN        NaN             0.000000
4    5          NaN        NaN             0.000000
5    6         32.0       25.0             0.555556
6    7         33.0       49.0             0.777778

   WindSpeed-zscore_standardized  Year  Month   rain   snow  sunny
0                      -0.104542  2017      1   True  False  False
1                       1.463583  2017      1   True  False  False
2                      -1.219653  2017      1  False   True  False
3                            NaN  2017      1  False   True  False
4                            NaN  2017      1   True  False  False
5                      -0.487861  2017      1   True  False  False
6                       0.348472  2017      1  False  False   True

Convert a categorical column to numerical using label encoding.

In [62]:
from sklearn.preprocessing import LabelEncoder
label_encoder = LabelEncoder()
df['Event_Encoded'] = label_encoder.fit_transform(df['Events'])
print("DataFrame after label encoding:")
print(df)

DataFrame after label encoding:
   Day  Temperature  WindSpeed Events  WindSpeed_normalize  \
0    1         32.0       36.0   rain             0.666667
1    2          NaN       81.0   rain             1.000000
2    3         28.0        4.0   snow             0.222222
3    4          NaN        NaN   snow             0.000000
4    5          NaN        NaN   rain             0.000000
5    6         32.0       25.0   rain             0.555556
6    7         33.0       49.0  sunny             0.777778

   WindSpeed-zscore_standardized  Year  Month  Event_Encoded
0                      -0.104542  2017      1              0
1                       1.463583  2017      1              0
2                      -1.219653  2017      1              1
3                            NaN  2017      1              1
4                            NaN  2017      1              0
5                      -0.487861  2017      1              0
6                       0.348472  2017      1              2

Group values in a categorical column and create a new column with grouped categories.

In [64]:
group_mapping = {
    'rain': 'cool_weather',
    'snow': 'Freezing',
    'sunny': 'Hot_Weather',
}
df['Grouped_Events'] = df['Events'].replace(group_mapping)
# Display the DataFrame after grouping
print("DataFrame after grouping categories:")
print(df)

DataFrame after grouping categories:
   Day  Temperature  WindSpeed Events  WindSpeed_normalize  \
0    1         32.0       36.0   rain             0.666667
1    2          NaN       81.0   rain             1.000000
2    3         28.0        4.0   snow             0.222222
3    4          NaN        NaN   snow             0.000000
4    5          NaN        NaN   rain             0.000000
5    6         32.0       25.0   rain             0.555556
6    7         33.0       49.0  sunny             0.777778

   WindSpeed-zscore_standardized  Year  Month  Event_Encoded Grouped_Events
0                      -0.104542  2017      1              0   cool_weather
1                       1.463583  2017      1              0   cool_weather
2                      -1.219653  2017      1              1       Freezing
3                            NaN  2017      1              1       Freezing
4                            NaN  2017      1              0   cool_weather
5                      -0.487861  2017      1              0   cool_weather
6                       0.348472  2017      1              2    Hot_Weather

In [66]:
# DataFrame 1
data1 = {
    'ID': [1, 2, 3, 4],
    'Name': ['Ali', 'Umer', 'Uzair', 'Hammad']
}
df4 = pd.DataFrame(data1)

#DataFrame 2
data2 = {
    'ID': [1, 3, 4, 5],
    'Age': [25, 30, 35, 40]
}
df5 = pd.DataFrame(data2)


merged_df = pd.merge(df4, df5, on='ID')

print("Merged DataFrame:")
print(merged_df)

Merged DataFrame:
   ID    Name  Age
0   1     Ali   25
1   3   Uzair   30
2   4  Hammad   35

Concatenate two DataFrames vertically.

In [68]:
# Concatenate DataFrames vertically
concatenated_df = pd.concat([df4, df5], axis=0)

# Display the concatenated DataFrame
print("Concatenated DataFrame:")
print(concatenated_df)

Concatenated DataFrame:
   ID    Name   Age
0   1     Ali   NaN
1   2    Umer   NaN
2   3   Uzair   NaN
3   4  Hammad   NaN
0   1     NaN  25.0
1   3     NaN  30.0
2   4     NaN  35.0
3   5     NaN  40.0

Concatenate two DataFrames horizontally.

In [69]:
# Concatenate DataFrames vertically
concatenated_df = pd.concat([df4, df5], axis=1)

# Display the concatenated DataFrame
print("Concatenated DataFrame:")
print(concatenated_df)

Concatenated DataFrame:
   ID    Name  ID  Age
0   1     Ali   1   25
1   2    Umer   3   30
2   3   Uzair   4   35
3   4  Hammad   5   40

In [74]:
df5['Square_age'] = df5['Age'] * df5['Age']

# Display the DataFrame with the new column
print("DataFrame with new column 'C':")
print(df5)

DataFrame with new column 'C':
   ID  Age  Square_age
0   1   25         625
1   3   30         900
2   4   35        1225
3   5   40        1600

In [75]:
data = {
    'Value': [10, 25, 35, 50, 20, 45, 30, 15]
}
df6 = pd.DataFrame(data)
bins = [0, 20, 40, 60]

df6['Bin'] = pd.cut(df6['Value'], bins=bins, labels=['Low', 'Medium', 'High'])


print("DataFrame with discretized column 'Value':")
print(df6)

DataFrame with discretized column 'Value':
   Value     Bin
0     10     Low
1     25  Medium
2     35  Medium
3     50    High
4     20     Low
5     45    High
6     30  Medium
7     15     Low

In [79]:
from sklearn.preprocessing import PolynomialFeatures
data = {
    'A': [1, 2, 3, 4, 5],
    'B': [10, 20, 30, 40, 50]
}
df7= pd.DataFrame(data)
poly = PolynomialFeatures(degree=2, include_bias=False)
poly_features = poly.fit_transform(df7)
# Get the names of the polynomial features
poly_feature_names = poly.get_feature_names(input_features=df7.columns)

# Create a new DataFrame with polynomial features and correct column names
poly_df = pd.DataFrame(poly_features, columns=poly_feature_names)
print("DataFrame with polynomial features:")
print(poly_df)

AttributeError: 'PolynomialFeatures' object has no attribute 'get_feature_names'